.App {
    display: flex;
    justify-content: center;
    padding: 40px;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    width: 800px;
    margin: auto;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

h1 {
    align-self: center;
}
